<h2>Home page</h2>

<form method="POST">
  <input type="text" name="title" placeholder="title">  
  <br><br>
  <input type="text" name="articlebody" placeholder="article">
  <br><br>
  <button>SEND</button>
</form>