<h2>Home page</h2>

<form method="POST">
    <input type="text" name="name" placeholder="name">
    <br><br>
    <input type="text" name="age" placeholder="age">
    <br><br>
    <button type="submit">SUBMIT</button>
</form>